.wrapper {
  min-width: 100px;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 9px 16px;
  border-radius: 2px;
  background-color: var(--white);
  border: 1px solid transparent;
  cursor: pointer;

  + .wrapper {
    margin-left: 8px;
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }
}

//button types
.round {
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border: 1px solid rgba(22, 24, 35, .12);

  &:hover {
    border-color: rgba(22, 24, 35, .2);
    background-color: rgba(22, 24, 35, .03);
  }
}

.primary {
  background-color: var(--primary);
  color: var(--white);
  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    border-color: var(--primary);
  }
}

.outline {
  border-color: var(--primary);
  color: var(--primary);

  &:hover {
    border-color: var(--primary);
    background-color: rgba(254, 44, 85, 0.08);
  }
}

.blackOutline {
  border-color: var(--black);
  color: var(--black);

  &:hover {
    border-color: var(--black);
    background-color: rgba(22, 24, 35, .03);
  }
}

//button sizes, default: medium
.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  min-width: 148px;
  padding: 14px 16px;
  border-radius: 4px;
}

.title + .icon, 
.icon + title {
  padding-left: 8px;
}