.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  min-height: 1000px;
  display: flex;
  margin-top: var(--dl-header-height);
}

.content {
  flex: 1;
}