.wrapper {
  width: 100%;
  height: var(--dl-header-height);
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.content {
  width: var(--dl-header-content-width);
  height: 100%;
}