@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");

:root {
  --primary: #fe2c55;
  --black: #000;
  --white: #fff;
  --text-color: #161823;
  
  //default layout
  --dl-header-height: 60px;
  --dl-header-content-width: 100%;
  --dl-sidebar-width: 260px;
  --dl-search-height: 46px;
  --dl-search-btn-width: 52px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans";
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow-y: overlay;
}

//scrollbar 
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, .06);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input {
  font-family: "IBM Plex Sans";
  border: none;
  outline: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

//custom tippy tooltip
body .tippy-box {
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  background-color: rgba(84, 84, 84, 0.92);
  padding: 6px 0;
}
